.img-logo {
  width: 35px;             /* adjust to your preferred size */
  height: 25px;            /* make width = height for a perfect circle */
  border-radius: 50%;      /* this makes it circular */
  object-fit: cover;       /* ensures the image fills the circle neatly */
  margin-right: 8px;       /* small space between logo and text */
  vertical-align: middle;  /* aligns nicely with the text */
}


#logoimg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  vertical-align: middle;
}


.brand-text {
  display: flex;
  flex-direction: column; /* stacks company name and tagline */
  line-height: 1.2;
}

.brand-text .h4 {
  margin: 0;
}

.brand-text .h6 {
  margin: 0;
  font-weight: 400;
}

.big-logo{
  width: 60px;             /* adjust to your preferred size */
  height: 60px;            /* make width = height for a perfect circle */
  vertical-align: middle;  
}

#logobig {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

.team-line::after {
    display: none !important;
}
